.cyberpunk-bg {
  background: center;
  background-image: url('https://i.ibb.co/hKxmVtF/ezgif-3-71f4d039aaab.gif');
  background-size: cover;
  min-width: 100%;
}

.cyberpunk-bg-static {
  background: center;
  background-image: url('https://i.ibb.co/YR117RN/ezgif-6-6fa4128fb00b.gif');
  background-size: cover;
  min-width: 100%;
}

.happy-gif {
  background: center;
  background-image: url('https://i.ibb.co/T0SKmDL/giphy-2.gif');
  background-size: cover;
  min-width: 100%;
}
