/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0%, 0%, 15%);
  border-radius: 10px;
}
