/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0%, 0%, 15%);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

.non-touch {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.point-cursor {
  cursor: pointer;
}

.back-blur {
  backdrop-filter: blur(25px) saturate(1.2) contrast(1.2);
  height: inherit;
}

.width-min {
  min-width: 40%;
}

.grad-back-light {
  background-image: linear-gradient(
    to right,
    #4fff9c,
    #18fdb8,
    #00fbd0,
    #00f7e4,
    #00f2f2,
    #14f3ee,
    #23f5e9,
    #2ff6e4,
    #66fdc8,
    #98ffaa,
    #c8ff8f,
    #f9ff7a
  );
  background-size: 1000% 1000%;
  -webkit-animation: fluid 15s ease infinite;
  -moz-animation: fluid 15s ease infinite;
  animation: fluid 15s ease infinite;
}

.border-max {
  border-radius: 50%;
}

.grad-back-dark {
  background-image: linear-gradient(
    to right,
    #5d54a4,
    #8750a6,
    #ac4aa0,
    #ce4292,
    #e83f7e,
    #e74386,
    #e6478f,
    #e54c97,
    #bc5db6,
    #886dc4,
    #4d75c0,
    #0278ae
  );
  background-size: 1000% 1000%;
  -webkit-animation: fluid 15s ease infinite;
  -moz-animation: fluid 15s ease infinite;
  animation: fluid 15s ease infinite;
}

@-webkit-keyframes fluid {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes fluid {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fluid {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
