@keyframes rocking {
  0%,
  100% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
}

.vue-typer.light {
  & .custom.caret {
    animation: rocking 1s ease-in-out 0s infinite;
    word-break: break-word;
    background-color: black;
  }
  & .custom.char {
    color: black;
  }
}

.vue-typer.dark {
  & .custom.caret {
    animation: rocking 1s ease-in-out 0s infinite;
    word-break: break-word;
    background-color: white;
  }
  & .custom.char {
    color: white;
  }
}
